<html>
  <head>
    <title>WFC NAS - Server Test</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.spiritonline.net/favicon.ico"
    />
  </head>

  <body>
    <h1>arf! ~ AuthServer is up</h1>
  </body>
</html>